.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.sidenav__logo {
  width: 120px;
  margin: 25px;
}

.sidenav__buttons {
  display: flex;
  flex-direction: column;
}

.side__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.side__button:hover {
  background-color: rgba(255, 255, 255, 0.128);
  cursor: pointer;
}

.side__button > span {
  font-size: 15px;

  margin-left: 10px;
}

.sidenav__more {
  position: fixed;
  bottom: 3px;
}
